---
import { SITE_TITLE } from "../consts";
---

<header class="p-2 w-fulln flex flex-col items-center justify-between bg-#232634">
	<nav>
		<img src="/imphnen.png" alt="imphnen" class="w-auto h12" />
	</nav>
</header>
